<section
  *ngIf="step1"
  class="p-4 my-5 w-50 mx-auto bg-main-light rounded-2 shadow"
>
  <form [formGroup]="step1Form" (ngSubmit)="forgetPassword()">
    <div>
      <label class="fw-semibold text-main" for="email">Email : </label>
      <input
        #inputEmail
        formControlName="email"
        type="email"
        class="form-control mt-2"
        id="email"
      />
    </div>
    <button
      [disabled]="step1Form.invalid"
      class="main-btn w-75 d-block mx-auto my-3"
    >
      Forgot Password
    </button>
    <div
      class="alert alert-danger"
      *ngIf="
        step1Form.get('email')?.errors &&
        (step1Form.get('email')?.touched || inputEmail.value.length > 0)
      "
    >
      <p *ngIf="step1Form.get('email')?.getError('required')">
        Email Is Required
      </p>
      <p *ngIf="step1Form.get('email')?.getError('email')">Email Not Valid</p>
    </div>
  </form>
</section>

<section
  *ngIf="step2"
  class="p-4 my-5 w-50 mx-auto bg-main-light rounded-2 shadow"
>
  <form [formGroup]="step2Form" (ngSubmit)="resetCode()">
    <div>
      <label class="fw-semibold text-main" for="resetCode">Reset Code : </label>
      <input
        #resetCodew
        formControlName="resetCode"
        type="text"
        class="form-control mt-2"
        id="resetCode"
      />
    </div>
    <button
      [disabled]="step2Form.invalid"
      class="main-btn w-75 d-block mx-auto my-3"
    >
      Reset Code
    </button>
    <div
      class="alert alert-danger"
      *ngIf="
        step2Form.get('resetCode')?.errors &&
        (step2Form.get('resetCode')?.touched || resetCodew.value.length > 0)
      "
    >
      <p *ngIf="step2Form.get('resetCode')?.getError('required')">
        resetCode Is Required
      </p>
    </div>
  </form>
</section>

<section
  *ngIf="step3"
  class="p-4 my-5 w-50 mx-auto bg-main-light rounded-2 shadow"
>
  <form [formGroup]="step3Form" (ngSubmit)="resetNewPassword()">
    <div>
      <label class="fw-semibold text-main" for="newPassword"
        >Reset New Password :
      </label>
      <input
        #newPassword
        formControlName="newPassword"
        type="password"
        class="form-control mt-2"
        id="newPassword"
      />
    </div>
    <button
      [disabled]="step3Form.invalid"
      class="main-btn w-75 d-block mx-auto my-3"
    >
      Reset New Password
    </button>
    <div
      class="alert alert-danger"
      *ngIf="
        step3Form.get('newPassword')?.errors &&
        (step3Form.get('newPassword')?.touched || newPassword.value.length > 0)
      "
    >
      <p *ngIf="step3Form.get('newPassword')?.getError('required')">
        New Password Is Required
      </p>
      <p *ngIf="step3Form.get('newPassword')?.getError('pattern')">
        New Password Not Valid
      </p>
    </div>
  </form>
</section>
