.product {
  border: solid 1px #0aad0a !important;
  transition: all 0.5s;
  overflow: hidden !important;

  &:hover {
    box-shadow: 0 0 10px #11bd1168;
    transform: scale(1.01);
  }

  .main-btn {
    transform: translateY(190%);
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover .main-btn {
    transform: translateY(0);
    opacity: 1;
  }
}
