<!-- !main Slider -->
<section class="py-4 mx-3">
  <div class="row gx-4">
<div class="col-md-9 rounded overflow-hidden">
      <owl-carousel-o [options]="mainSliderOptions">

        <ng-template carouselSlide>
          <img
            height="400"
            class="rounded"
            src="./assets/images/bggreenclothes.jpg"
            alt="slider image "
          />
        </ng-template>

        <ng-template carouselSlide>
          <img
            height="400"
            class="rounded"
            src="./assets/images/bgclothes3.jpg"
            alt="slider image "
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            height="400"
            class="rounded"
            src="./assets/images/bgclothes2.jpg"
            alt="slider image "
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            height="400"
            class="rounded"
            src="./assets/images/main-slider-2.jpeg"
            alt="slider image "
          />
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-3">
      <div class="d-flex flex-column rounded">
        <img
          class="fixed-img w-100 rounded-top shadow"
          height="195"
          src="./assets/images/fixed4.jpg"
          alt="slide"
        />
        <img
          class="fixed-img w-100 rounded-bottom shadow"
          height="195"
          src="./assets/images/bgclothes.jpg"
          alt="slide"
        />
      </div>
    </div>
  </div>
</section>

<!-- !category Slider -->
<section class="py-4 mx-3"  *ngIf="categoryList.length>0; else msg">
  <h2 class="fw-bolder mb-4 main-title">
    Popular Category Of The Store <i class="fas fa-tags fa-1x text-main"></i>
  </h2>

  <owl-carousel-o [options]="categoryOptions">
    <ng-container *ngFor="let category of categoryList">
      <ng-template carouselSlide [id]="category._id">
        <img
          class="w-100"
          height="300"
          [src]="category.image"
          [alt]="category.name"
          [title]="category.slug"
          title="."
        />
        <h3 class="h5 text-main text-center mt-2">{{ category.name }}</h3>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>

<!-- !product section -->
<section class="py-4 mx-3"   *ngIf="productlist.length>0; else msg">
  <h2 class="fw-bolder mb-4 main-title">
    Popular Products Of The Store <i class="fas fa-store fa-1x text-main"></i>
  </h2>
  <div class="row g-4">
    <div class="col-md-2" *ngFor="let item of productlist.slice(0, 24)">
      <div class="product cursor-pointer p-2 h-100">
        <i
          *ngIf="!wishlistProductId.includes($any(item._id))"
          (click)="addToWishlist(item._id)"
          class="fa-regular fa-heart heart"
        ></i>
        <i
          *ngIf="wishlistProductId.includes($any(item._id))"
          (click)="removeFromWishlist(item._id)"
          class="fa-solid fa-heart heart"
        ></i>

        <div role="button" [routerLink]="['/details', item._id]">
          <img
            [title]="item.title"
            class="w-100"
            [src]="item.imageCover"
            [alt]="item.title"
            title="."
          />
          <h4 class="h6 my-2 fw-semibold text-main">{{ item.category.name }}</h4>
          <h5 class="h6 text-dark fw-semibold">
            {{ item.title | cuttext : 2 }}
          </h5>
          <div class="d-flex align-items-center justify-content-between my-2">
            <p class="fw-semibold text-dark">{{ item.price }} EGP</p>
            <p>
              <i [class.rating-color]="item.ratingsAverage >= num" *ngFor="let num of [1,2,3,4,5]" class="fas fa-star "></i
              >
              <!-- <span class="text-muted"> {{ item.ratingsAverage }}</span> -->
            </p>
          </div>
        </div>

        <button
          (click)="addProduct(item._id, btnAdd)"
          #btnAdd
          class="main-btn w-100 my-1 small"
        >
      Add Product<i class="fas fa-cart-plus ms-1 fa-bounce"></i>
        </button>
      </div>
    </div>
  </div>
</section>


<ng-template #msg>
  <h2 class="text-center fw-semibold mt-5 text-main">Please Wait....<i class="fa-regular fa-hourglass-half fa-bounce"></i></h2>
</ng-template>

