<section class="text-center py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <div>
          <img
            class="w-100"
            src="./assets/images/error.svg"
            alt="404 image error"
          />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h2 class="text-uppercase">page not found</h2>
          <p>404</p>
          <button routerLink="/home" class="main-btn text-uppercase">
            go to back
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
