<nav #navBar class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <div class="container-fluid mx-2">
    <a class="navbar-brand" routerLink="/home">
      <img
        class="w-100"
        src="./assets/images/freshcart-logo.svg"
        alt="image-logo"
      />
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLink="/home"
            routerLinkActive="active-link"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLink="/products"
            routerLinkActive="active-link"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLink="/categories"
            routerLinkActive="active-link"
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLink="/brands"
            routerLinkActive="active-link"
            >Brands</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="dropdownId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user fa-xl text-main"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a
              class="dropdown-item"
              routerLink="/forgetPassword"
              routerLinkActive="active-link"
              >Forget Password</a
            >
          </div>
        </li>
        <li class="nav-item position-relative p-1 mx-1" routerLink="/wishlist">
          <i class="fas fa-heart fa-2x text-main"></i>
          <span class="badge bg-success position-absolute top-0 end-0">{{numberOfWishlist}}</span>
        </li>
        <li class="nav-item position-relative p-1" routerLink="/cart">
          <i class="fas fa-cart-shopping fa-2x text-main"></i>
          <span class="badge bg-success position-absolute top-0 end-0">{{
            numberOfCart
          }}</span>
        </li>
        <li class="nav-item align-self-center d-flex">
          <a class="nav-link"
            ><i class="fa-brands fa-instagram me-1 cursor-pointer"></i
          ></a>
          <a class="nav-link"
            ><i class="fa-brands fa-facebook-f me-1 cursor-pointer"></i
          ></a>
          <a class="nav-link"
            ><i class="fa-brands fa-tiktok me-1 cursor-pointer"></i
          ></a>
          <a class="nav-link"
            ><i class="fa-brands fa-twitter me-1 cursor-pointer"></i
          ></a>
          <a class="nav-link"
            ><i class="fa-brands fa-linkedin me-1 cursor-pointer"></i
          ></a>
          <a class="nav-link"
            ><i class="fa-brands fa-youtube me-1 cursor-pointer"></i
          ></a>
        </li>
        <li class="nav-item">
          <span (click)="logout()" class=" cursor-pointer btn btn-outline-success"
            >SignOut <i class="fa-solid fa-right-from-bracket ms-1"></i></span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
